{% extends "base.html" %}
{% block body_block %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="jumbotron">
     <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            {% if user.is_authenticated %}
            <img src="{{ user.userprofileinfo.profile_pic.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Profile</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>UserName:</strong>{{ user.username }}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Fisrt Name:</strong>{{ user.first_name }}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Last Name:</strong> {{ user.last_name }}</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>{{ user.email }}</li>
                </ul>
              </div>
              <div style="margin-left: 200px;
              margin-top: 480px;">
               <a href="{% url 'user_manager:edit_profile' %}">
               <button type="button" class="btn btn-primary" >edit profile</button></a>
              </div>
            </div>

          </div>

        </div>
        {% else %}
      <h3>connecte befor ... hacker :p</h3>
      {% endif %}
      </div>
  </div>
</div>

{% endblock %}
